<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css" />

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">New Website</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/news">News</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="post-list">
                    <%
                    for(var i=0; i<data.length; i++) {
                        var post = data[i];
                    %>
                    <li>

                        <% if(post.type == "picture"){%>
                           <figure>
                               <img class="img-responsive" src="<%=post.imgUrl%>" />
                               <figcaption><%=post.content%></figcaption>
                           </figure>
                        <%}%>
                        <% if(post.type == "link"){%>
                            <h2 class="section-heading text-center"><a href="<%=post.linkUrl%>" ><%=post.linkUrl%></a></h2>
                            <p class="lead section-lead">About: <%=post.content%></p>
                        <%}%>
                        <% if(post.type == "news"){
                            var date = new Date(post.datePublished);
                        %>
                            <h2 class="section-heading"> <a href="<%=post.url%>" ><%=post.heading%></a>
                                <small class="pull-right">By <span><%=post.author%></span> on <span class="created_at"><%= date.getUTCFullYear().toString() + "/" + (date.getUTCMonth() + 1).toString() + "/" + date.getUTCDate() + " " + date.getUTCHours() + ":" + date.getUTCMinutes() + ":" + date.getUTCSeconds();%></span></small>

                            </h2>
                            <p class="lead section-lead"><%=post.content%>...
                                <a href="<%=post.url%>" class="pull-right">Read More</a>
                            </p>

                        <%}%>
                    </li>
                    <% } %>
                </ul>
                <!--<h1 ><%= title %></h1>-->
                <!--<p >Welcome to the site: <%= title %></p>-->
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>
</body>

</html>


