body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h2 small{
  font-size: 10px !important ;
}
.img-center {
  margin: 0 auto;
}
.text-center{
  text-align: center;
}

.post-list li{
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  background: #e1e1e1;
}